body {
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: navy;
}

.navbar-brand,
.navbar-nav .nav-link {
    color: white;
}


.navbar-nav .nav-link .fas.fa-shopping-cart {
    color: white; /* Cambia el color a blanco */
    font-size: 15px; /* Cambia el tamaño del icono */
    margin-right: 1px;
    margin-left: 1px;
}

#login-link .fas.fa-sign-in-alt,
.navbar-nav .nav-link .fas.fa-shopping-cart {
    font-size: 15px; /* Ajusta el tamaño del icono según sea necesario */
    margin-right: 1px;
    margin-left: 1px;
}


