/*configuracion principales*/
body {
    font-family: 'Arial', sans-serif;
}
/*navbar design*/
.navbar {
    background-color: navy;
}

.navbar-brand,
.navbar-nav .nav-link {
    color: white;
}

/*navar cart design*/
.navbar-nav .nav-link .fas.fa-shopping-cart {
    color: white;
    font-size: 15px; 
    margin-right: 1px;
    margin-left: 1px;
}

#login-link .fas.fa-sign-in-alt,
.navbar-nav .nav-link .fas.fa-shopping-cart {
    font-size: 15px; 
    margin-right: 1px;
    margin-left: 1px;
}
/*logo design*/
#IMG1{
    width: 100px;
    height: 75px;
    border: 5px solid;
    border-color: rgba(248, 244, 244, 0.986);
    border-radius: 2px;
    image-rendering: optimizeQuality;
}
/*Admin profile*/
h3{
    margin-top: 5%;
}
.navy-bg {
    background-color: navy;
    color: white;
}
.title {
    margin-top: 20px;
}

.profile2 .user-icon {
    margin-right: 10px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.user-icon-img {
    margin-bottom: 10px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}

.list-group-item:hover {
    background-color: #007bff;
    color: white;
}

.list-group-item {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar {
    margin-left: auto;
    margin-right: auto;
}

.text-box {
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .col-md-6 {
        width: 100%;
    }
}